<div class="bootstrap-wrapper full-width">
    <!-- <app-navbar class="full-width"></app-navbar> -->
    <div class="container full-width">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img  src="../../../assets/exlogo.jpg" alt="" style="width:70px;height:70px;">
                </div>
                <h1 class="text-center">Register Here !!</h1>
                <!-- {{user | json}} -->
                
                <form (ngSubmit) = "formSubmit()">

                    <!-- username field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input 
                        required
                        [(ngModel)] = "user.username"
                        name="username" 
                        matInput placeholder="Enter here">
                    <mat-hint>User Name must be Unique</mat-hint>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        required
                        [(ngModel)] = "user.password"
                        name="password"  
                        type="password" matInput placeholder="Enter here">
                    </mat-form-field>
                    
                    <!-- First Name field-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input 
                        required
                        [(ngModel)] = "user.firstname"
                        name="firstname" 
                        matInput 
                        placeholder="Enter here">
                    </mat-form-field>

                    <!-- Last Name -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required
                        [(ngModel)] = "user.lastname"
                        name="lastname" 
                        matInput 
                        placeholder="Enter here">
                    </mat-form-field>

                    <!-- email field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input 
                        required
                        [(ngModel)] = "user.email"
                        name="email" 
                        type="email" 
                        matInput placeholder="Enter here">
                    </mat-form-field>

                    <!-- Phone Number -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input 
                        required
                        [(ngModel)] = "user.phone"
                        name="phone" 
                        type="number" matInput placeholder="Enter here">
                    </mat-form-field>
                    <div class="container text-center">

                        <button type="submit" mat-raised-button color="primary" >Register</button>
                        <button style="margin-left: 20px;" mat-raised-button color="accent" >Reset</button>

                    </div>
                </form>
            </mat-card>
            </div>

        </div>

    </div>
</div>